.Wrap{
  width: 100%;
}
.MainHeader{
text-align: center;
}
ol{
  padding: 0;
}
.ListItem{
  display: block;
  text-align: center;
  position: relative;

  padding: 20px 25px 17px 25px;
  border-bottom: 1px solid #9e9999;
  box-shadow: #9e9999;
  font-size: 20;
  background-color: #ffffff;
}
.ListHeader{
  text-align: center;
}